@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --one: #4f6386;
    --two: #f7fff7;
    --three: #98FB98;
    --four: #F7CAC9;
    --five: #DAA520;
}

body {
    margin: 0;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--one);
    color: var(--two);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.align-bottom {
    align-items: end;
}

img {
    border: 1.3px black solid;
}
.postImg {
    cursor: pointer;
}

a {
    margin: 5px;
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 1.5em;
}
a:hover {
    color: rgb(0,0,0,0.5);
}

#loadMoreButtonDiv p a {
    color: var(--two);
    font-size: 1em;
}
#loadMoreButtonDiv p a:hover {
    color: black;
}

section, header, nav, #loadMoreButtonDiv, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
}
footer {
    box-shadow: -1px 0px 11px rgb(0,0,0,0.43);
    height: 200px;
    justify-content: center;
    align-items: center;
}
#loadMoreButtonDiv {
    width: 90%;
    padding: 3% 5%;
    margin-bottom: 15px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#loadMoreButtonDiv a {
    font-size: 3.67em;
}
#loadMoreButtonDiv p {
    font-size: 1.3em;
}
header {
    z-index: 9999;
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fixedHeader {
    height: 90px;
}

nav {
    width: min-content;
    height: max-content;
    justify-content: center;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 1px 0px 11px rgb(0,0,0,0.43);

}
nav a {
    box-sizing: border-box;
    margin: 0;
    font-size: 2em;
    padding: 18px 0;
    width: 155px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--one);
    background-color: var(--two);
    transition: all 0.1s ease;
}
nav a:first-child {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
nav a:last-child {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
nav a:hover {
    color: white;
    background-color: black;
}

.post {
    box-sizing: border-box;

    padding: 19px 5px;

    width: 600px;
    height: max-content;

    border: 1px black solid;
}
.post:last-child, .post:first-child {
}
.post h2 {
    box-sizing: border-box;
    padding: 9px;
    margin-top: 10px;
    font-weight: 400;

    font-size: 1.68em;
}
.post img {
    width: 47px;
    height: 47px;
    border-radius: 150px;
    margin-left: 5px;
    object-fit: cover;
}
.profileLink {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 1.65em;
    font-weight: 500;
}

.post-buttons {
    min-width: 180px;
    width: max-content;
    height: 25px;

    box-sizing: border-box;
}
.post-buttons a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 800;


    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#profileHeader h1 {
    margin-top: 15px;
    margin-bottom: -15px;
}
#profileHeader p {
    margin: 3px;
}
#profileHeader {
    padding: 19px;
    width: 462px;
    border-bottom: 0.6px rgb(0,0,0, 0.5) solid;
}
#profileHeader img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}
#makeAPost, #commentContent {
    margin-top: 25px;
    margin-bottom: 15px;
    height: 190px;
}
#makeAPost {
    box-sizing: border-box;
    background-color: var(--two);
    border-radius: 8px;
    resize: none;
    width: 502px;
    height: 190px;
    padding: 19px;

    font-size: 1.6em;
    font-family: 'League Spartan', sans-serif;

    border: 1px solid var(--two);
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#makeAPostForm, #addCommentForm {
    position: relative;
}
#postButton {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.75em;

    padding: 10px 28px;
    border-radius: 150px;
    background-color: white;
    color: black;
    border: 2px black solid;

    position: absolute;

    bottom: 30px;
    right: 15px;
}
#postButton:hover {
    color: white;
    background-color: black;
}
#viewPostSection:first-child {
    background-color: blue;
}

@media screen and (max-width: 500px) {
    header, section, #profileHeader, textarea, .post, nav, #loadMoreButtonDiv {
        width: 100vw;
    }

    .post, textarea, #profileHeader, #loadMoreButtonDiv {
        width: 90vw;
        padding: 5vw;
    }

    textarea {
        border: 0;
    }

    #makeAPost, #commentContent {
        margin-top: 0;
        margin-bottom: 0;
    }
}


#followersLabel, #followingLabel {
    font-weight: 600;
}
#followingCount, #followCount {
    font-weight: 500;
}
#a-group-inner a {
    width: 33.33%;
    font-size: 2.3em;

    border: var(--two) solid 0.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 5px 0;

    transition: all 0.1s ease;

    background-color: var(--two);
    color: var(--one);
}
#a-group-inner a:hover {
    background-color: var(--one);
    color: var(--two);
}

#a-group-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: var(--two) 1px solid;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    margin-top:-5px;

    width: 500px;
    height: 60px;
}
#a-group-inner a:first-child {
    border-bottom-left-radius: 8px;
}
#a-group-inner a:last-child {
    border-bottom-right-radius: 8px;
}

#commentSection, #deleteSection {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0,0,0,0.43);

    justify-content: center;
}

.leaderboardNumber {
    top: 0;
    left: 0;
    position: absolute;
}