@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --one: #4f6386;
    --two: #f7fff7;
    --three: #98FB98;
    --four: #F7CAC9;
    --five: #DAA520;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:active {
    background-color: #8c8c8c;
}


body {
    margin: 0;
    font-size: 1em;
    font-family: 'League Spartan', sans-serif;
    background-color: var(--one);
    color: var(--two);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.align-bottom {
    align-items: end;
}

img {
    border: 1.3px var(--two) solid;

    object-fit: cover;
}
.postImg {
    cursor: pointer;
}

a {
    margin: 5px;
    transition: all 0.1s ease;
    cursor: pointer;
    font-size: 1.5em;
}
a:hover {
    color: rgb(0,0,0,0.5);
}

#loadMoreButtonDiv p a {
    color: var(--two);
    font-size: 1em;
}

section, header, nav, #loadMoreButtonDivVIEWPOST, #loadMoreButtonDiv, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
}
footer {
    box-shadow: -1px 0px 11px rgb(0,0,0,0.43);
    height: 200px;
    justify-content: center;
    align-items: center;
}
#loadMoreButtonDiv, #loadMoreButtonDivVIEWPOST {
    width: 90%;
    padding: 3% 5%;
    margin-bottom: 15px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#loadMoreButtonDiv a, #loadMoreButtonDivVIEWPOST a {
    font-size: 3.67em;
}
#loadMoreButtonDiv p {
    font-size: 1.3em;
}
header {
    z-index: 9999;
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fixedHeader {
    height: 90px;
}

nav {
    width: min-content;
    height: max-content;
    justify-content: center;
    flex-direction: row;
    border-radius: 16px;
    box-shadow: 1px 0px 11px rgb(0,0,0,0.43);
    box-sizing: border-box;
}
nav a {
    box-sizing: border-box;
    margin: 0;
    font-size: 2em;
    padding: 18px 0;
    width: 210px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--two);
    background-color: var(--one);
    transition: all 0.1s ease;
}
nav a:first-child {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
nav a:last-child {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
nav a:hover {
    color: var(--one);
    background-color: var(--two);
}

.post {
    cursor: pointer;
    background-color: var(--one);
    box-sizing: border-box;

    padding: 12px 0 0 0;

    width: 600px;
    height: max-content;

    border: 1px rgb(255,255,255,0.2) solid;
    border-radius: 4px;

    margin-top: 4px;
}
.paddingg {
    padding: 0 0 0 8px;
}
.post:first-child {
    margin-top: 0;
}
.post h2 {
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: 400;

    font-size: 1.68em;
}
.post img {
    width: 47px;
    height: 47px;
    border-radius: 150px;
    margin-left: 5px;
    object-fit: cover;
}
.post a:last-child {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 1.34em;
    font-weight: 700;
    color: rgb(255,255,255,0.8);
}
.post a:last-child:hover {
    color: black;
}
.main-post {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.post-buttons {
    width: 100%;
    height: 30px;

    margin-top: -15px;

    border: 0.75px rgb(255,255,255,0.1) solid;

    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.post-buttons a {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 800;


    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.post-buttons p {
    font-size: 16px;
    font-weight: 600;
}

#profileHeader h1 {
    margin-top: 15px;
    margin-bottom: -15px;
}
#profileHeader p {
    margin: 3px;
}
#profileHeader {
    box-sizing: border-box;
    padding: 19px;
    width: 600px;
}
#profileHeader img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
}

textarea:focus {
    outline: none;
}
#makeAPost, #commentContent {
    margin-top: 25px;

    box-sizing: border-box;
    background-color: var(--two);
    border-radius: 4px;
    resize: none;

    width: 600px;
    height: 173px;
    padding: 19px;

    overflow-y: scroll;
    overflow-x: hidden;

    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;

    border: 0;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#commentContent {
    border-radius: 0;
    margin-top: 0;
    width: 600px;
}
#makeAPostForm, #addCommentForm {
    position: relative;
}
#postButton {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.35em;

    padding: 5px 18px;
    border-radius: 150px;
    background-color: var(--two);
    color: var(--one);
    border: 2px var(--one) solid;

    position: absolute;

    bottom: 35px;
    right: 5px;
}
#postButton:hover {
    color: white;
    background-color: black;
}

#post-options {
    margin-top: -3px;
    background-color: var(--two);

    color: var(--one);

    border-radius: 0 0 4px 4px;

    height: 30px;

    display: flex;
    flex-direction: row;
}


/* alert system*/
@media screen and (min-width: 1px) {
.alert {
    background-color: blue;
    width: 100%;
    min-height: 60px;

    margin-top: 15px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;


    padding: 5px;

    font-size: 1.15em;
}
.alert i {
    padding: 5px 12.5px;
    border-radius: 150px;

    background-color: rgb(0,0,0,0.2);
    margin-right: 10px;
    margin-left: 10px;
}
#alert-container {
    z-index: 10001;
    position: fixed;
    overflow: hidden;

    display: none;

    left: 0;
    bottom: 0;

    box-sizing: border-box;
    width: 100vw;
    height: 60px;
    max-height: 40vh;

    align-items: start;
    justify-content: end;
    flex-direction: column;
}
}
@media screen and (min-width: 962px) {

}
/* end of alert system */

/* relatedto profileheader*/
/* changes font weights for followers */
/* and following text on profile header*/
#followersLabel, #followingLabel {
    font-weight: 600;
}
#followingCount, #followCount {
    font-weight: 500;
}


#commentSection, #deleteSection, #viewPostSection {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(0,0,0,0.43);
    justify-content: center;
}
#viewPostSectionInner {
    position: relative;
    overflow: auto;
    height: min-content;
    max-height: 80vh;

    border-radius: 8px;

    background-color: var(--one);

    box-shadow: 0 0 10px rgb(0,0,0,0.43);

    box-sizing: border-box;
}
#viewPostSectionInnerPOSTPRINT, #viewPostSectionInnerAddon {
    position: relative;
    overflow: auto;
    height: min-content;
}

.leaderboardNumber {
    top: 0;
    left: 0;
    position: absolute;
}


#home-post-buttons {
    width: 600px;

    display: flex;
    box-sizing: border-box;

    border-radius: 0;
    margin-bottom: 2.5px;

    margin-top: -23px;
}
#home-post-buttons a {
    width: 33.33%;
    height: 45px;

    color: var(--two);
    background-color: rgb(255,255,255,0.1);

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
}
#home-post-buttons a:hover {
    background-color: var(--two);
    color: var(--one);
}
#home-post-buttons a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#home-post-buttons a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#settingsSection {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.align-end {
    display: flex;
    align-items: left;
    justify-content: end;
}
#addFilters, #filtersForm, #filtersFormCollected {
    flex-direction: column;
}

#addPFPForm img {
    border: 0;
}


#viewPostInfoBox {
    height: 200px;
}